.principal {
    position: fixed;
    display: flex;
    top: calc(50% - 75px);
    flex-direction: column;
    background-color: transparent;
    width: 60px;
    height: 300px;
    z-index: 1;
    & div {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        transition: all 0.5s;

        &:hover {
            transform: rotate(-30deg) scale(1.3);
            cursor: pointer;
        }
    }
}